<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Activity 07 - Vue</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://unpkg.com/vue@next"></script>
    </head>

    <body>
      <div id="app">
        <img v-if="imageShowing" v-bind:src="imageSrc" img width="200">
        <button v-if="!imageShowing" v-on:click="toggleImage">Show image</button>
        <button v-if="imageShowing" v-on:click="toggleImage">Hide image</button>
      </div>

      <script type="text/javascript">
        const CounterApp = {
          name: "counter app",
          data() {
            return {
              laterDater: undefined,
              counter: 0,
              imageShowing: true,
              imageSrc: this.nextImage(),
            }
          },
          methods: {
            toggleImage() {
              if (this.imageShowing === false) {
                this.imageShowing = true
              } else {
                this.imageShowing = false
              }
            },
            nextImage() {
              let imgSrc = [
                "./giphy.gif",
                "./giphy2.gif",
                "./giphy3.gif"
              ]
              // Return a random number in the imgSrc
              let randomNum = Math.floor(Math.random() * imgSrc.length);
              return imgSrc[randomNum];
            }
          }
        }
        Vue.createApp(CounterApp).mount('#app')
      </script>
    </body>
</html>
