// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

// TODO: Refactor these styles to use Sass features

//variables
$primary-color:
$no-serif: sans-serif;
$default-border-radius: 5px;

main {
  font-family: $no-serif;
  img {
    border-radius: 50%;
  }
}

// MIXIN
@mixin
