// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

nav {
	background-color: #00A3AD;
	width: 100%;
	height: 8rem;
	ul {
		text-decoration: none;
		list-style: none;
		color: #fff;
	}
}
